 .u-section-1 {
  min-height: 450px;
}

.u-section-1 .u-image-1 {
  height: 190px;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 315px;
  height: 391px;
  margin: -170px calc(((100% - 1140px) / 2) + 96px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: -320px auto 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 426px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -171px;
    margin-right: calc(((100% - 940px) / 2) + 40px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: -344px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2) + 40px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + 40px);
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2) + 40px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 40px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 523px;
  }

  .u-section-1 .u-image-2 {
    width: 260px;
    height: 323px;
    margin-top: -190px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 13px;
    margin-right: auto;
  }
}